<!-- <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <a routerLink="/home" class="btn btn-primary">back</a>
    <div class="btn-group" role="group">
        <button (click)="addPlayer()" class="btn btn-primary">Spieler hinzufügen</button>
    </div>
</div> -->

<!-- <h2>Spielerliste</h2> -->

<table class="table">
    <tr>
        <th>Name</th>
        <th>Games played</th>
        <th></th>
    </tr>
    <tr *ngFor="let player of data.player" (click)="playerClicked(player)">
        <td>{{player.name}}</td>
        <td>{{player.gamesPlayed||0}}</td>
    </tr>
</table>