<!-- <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button (click)="newGame()" class="btn btn-primary" type="button">Neues Spiel</button>
  </div>
  <a routerLink="../players" class="btn btn-primary" role="button">Spielerdaten anzeigen</a>
</div>

<h2>Cardgamer</h2> -->

<div *ngFor="let game of data.games" class="panel panel-primary" (click)="gameClicked(game)">
  <div class="panel-heading">
    <p class="panel-title">{{game.name}}</p>
  </div>
  <!-- <div class="panel-body"> -->
    <ul class="list-group">
      <li class="list-group-item">{{formatDate(game.date)}}</li>
      <li class="list-group-item">Anzahl Spieler: {{game.players.length}}</li>
      <li class="list-group-item">Gewinner: {{game.winner ? playermap[game.winner].name || 'gelöscht' : "-"}}</li>
    </ul>
  <!-- </div> -->
</div>